<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rest-Assured TestNG Tests">
    <test name="ListUsers">
        <classes>
            <class name="servicesTestSuite.token.getRefreshToken"/>
            <class name="servicesTestSuite.token.getAccessToken" />
            <class name="testrunner.CucumberRunner" />
        </classes>
    </test>
</suite>